---
layout: internal
---

{% assign settings = site.data.settings %}
{% assign articles = site.data.articles %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 pad-right-lg">
            <ul class="block-list special-block-list">
            	{% for item in site.data.articles limit: 3 %}
            		<li>
            			{% include components/media_entry_advanced.html %}
            		</li>
            	{% endfor %}
            </ul>
            {% include snippets/pagination.html %}
        </div>
        <div class="col-lg-4 pad-left-lg">
            <aside class="sidebar inverse">

                <h3 class="header-icon m-b-md"><i class="fa fa-list"></i><span class="text">Blog Categories</span></h3>
                <hr class="m-b-md">
                <ul class="list-unstyled m-b-lg">
                    {% for item in site.data.blog_categories %}
                        <li><a class="font-family-sans-serif" href="#">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
                <br>
                {% include components/form_callback.html %}
            </aside>
        </div>
    </div>
</div>