---
layout: internal
sidebar: sidebar/sidebar_blog.html
---

{% assign settings = site.data.settings %}
{% assign articles = site.data.articles %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 pad-right-lg">
            <ul class="block-list special-block-list">
            	{% for item in site.data.articles limit: 3 %}
            		<li>
            			{% include components/media_entry_advanced.html %}
            		</li>
            	{% endfor %}
            </ul>
            {% include snippets/pagination.html %}
        </div>
        <div class="col-lg-4 pad-left-lg">
            <aside class="sidebar inverse">
                {% if page.sidebar %}
                    {% include {{ page.sidebar }} %}
                {% endif %}
            </aside>
        </div>
    </div>
</div>