---
layout: internal
---

{% assign sections = site.data.sitemap[5].children %}
{% assign events = site.data.events %}

<div class="container">
	<div class="row">
		<div class="col-lg-7 col-xl-8">

			<div class="m-b-lg">
				{{ content }}
			</div>

			<ul class="block-grid-xs-1 block-grid-md-2 block-grid-xl-3">
				{% for item in sections | limit: 6 %}
					<li class="col-md-4 col-lg-4">
						{% include components/card_minimal.html %}
					</li>
				{% endfor %}
			</ul>

			<div class="spacer m-b-lg hidden-lg-up"></div>

		</div>
		<div class="col-lg-5 col-xl-4 pad-left-xl">
			<h2 class="m-b-md"><i class="fa fa-calendar"></i> Upcoming Events</h2>

			{% for item in events %}
				<div class="card-list">
					{% include components/card_slim.html class="card-list-item" %}
				</div>
			{% endfor %}

		</div>
	</div>
</div>