---
layout: internal
---

{% assign sections = site.data.sitemap[5].children %}
{% assign events = site.data.events %}

<div class="container">
	<div class="row">
		<div class="col-lg-8">

			<article class="m-b-lg">
				<h1 class="h2">{{ page.title }}</h1>
				<br>
				<p>{{ "Saturday 7 November 2015, 6.30PM-10.00PM" | upcase }}</p>
				<p>LOCATION: ADELAIDE OVAL, WAR MEMORIAL DR, NORTH ADELAIDE SA 5006</p>
				<br>
				<p class="image-right"><img class="m-b" width="100%" src="http://placehold.it/350x260" alt="..."></p>
				{{ content }}
			</article>

		</div>
		<div class="col-lg-4 pad-left-xl">
			<h2 class="m-b-md"><i class="fa fa-calendar"></i> Other Events</h2>

			{% for item in events %}
				<div class="card-list">
					{% include components/card_slim.html class="card-list-item" %}
				</div>
			{% endfor %}

		</div>
	</div>
</div>