---
layout: internal
sidebar: sidebar/sidebar_seminars_item.html
---

{% assign sections = site.data.sitemap[1].children[5].children %}
{% assign group = site.data.team[0] %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 pad-right-lg">

            <div class="wysiwyg">
                {{ content }}
            </div>

            <div class="spacer m-b-lg"></div>

            <h3 class="header-icon m-b-md"><i class="fa fa-users"></i><span class="text">Family Law seminar presenters...</span></h3>
            <div class="row">
            	<div class="col-lg-10">
            		<ul class="cards-list title-btns block-grid-xs-3">
            		    {% for person in group.children %}
            		        <li>
            		        	<a href="/our-people/our-people-item/" class="card-anchor">
            						{% include components/card_bio.html title=person.title subtitle=person.subtitle %}
            					</a>
            		        </li>
            		    {% endfor %}
            		</ul>
            	</div>
            </div>
        </div>
        <div class="col-lg-4 pad-left-lg">
            <aside class="sidebar inverse">
                {% if page.sidebar %}
                    {% include {{ page.sidebar }} %}
                {% endif %}
            </aside>
        </div>
    </div>
</div>