---
layout: internal
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 pad-right-lg">

            <!-- WYSIWYG -->
            <div class="wysiwyg m-b-lg">
                {{ content }}
            </div>

            <h3 class="header-icon m-b-md"><i class="fa fa-comments-o"></i><span class="text">Read more about our free seminars...</span></h3>

            <ul class="title-btns block-grid-xs-1">
                {% for item in site.data.seminars %}
                    <li>
                        {% include components/btn_tile_reduced.html title=item.title url=item.url class="h3" %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-lg-4 pad-left-lg">
            <aside class="sidebar inverse">

                <!-- FREE SEMINARS -->
                <h3 class="header-icon m-b-md"><i class="fa fa-calendar-o"></i><span class="text">Upcoming Seminars</span></h3>
                {% include components/seminar_listing.html class="has-font-reduced" %}
                <div class="spacer m-b-lg"></div>
                {% include components/card_contact_advanced.html %}

            </aside>
        </div>
    </div>
</div>