---
layout: internal
---

<div class="container">
    <div class="row">
        <div class="col-lg-8 pad-right-lg">

            <!-- WYSIWYG -->
            <div class="wysiwyg m-b-lg">
                {{ content }}
            </div>

			{% include components/accordion.html %}

        </div>
        <div class="col-lg-4 pad-left-lg">
            <aside class="sidebar inverse">

                {% assign side_nav = site.data.sitemap[3].children %}

                <ul class="side-nav m-b-lg">
                    {% for item in side_nav limit: 1 %}
                        <li><a href="#">{{ item.title }}</a>
                            <ul>
                                {% for item in item.children %}
                                    <li class="{% if forloop.first %}active{% endif %}"><a href="">- {{ item.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>

                {% include components/form_callback.html %}

            </aside>
        </div>
    </div>
</div>