{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo.png" %}

<div class="search-top phone-top hidden-xl-up">
    <div class="container rel">
        <div class="phone-wrapper">
            <a href="tel:0294401202"><i class="fa fa-phone"></i> {{ site.data.settings.phone }}</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <!-- SEARCH TOP -->
            <div class="hidden-lg-down">
                {% include components/search_top.html %}
            </div>

            <div class="display-table">
                <div class="display-cell">

                    <!-- LOGO -->
                    <a class="logo" href="/" title="{{ settings.seo_title }}" itemprop="url">
                        <img width="221" src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
                    </a>

                    <!-- HAMBURGER -->
                    <div class="global-mobile-menu hidden-xl-up">
                        <a class="hamburger"><i class="fa fa fa-navicon"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>