{% comment %}
    LIQUIDVISUAL-HERO

    - updated: 20.01.16
    - notes:
        * Multiple items in carousel_slides.yml triggers carousel mode
        * .has-auto-height - caption will detemine height
        * .has-fixed-height - used for internal pages to set a height

        {% assign hero = page.hero_image %}

{% endcomment %}

{% assign hero_images = site.data.carousel_slides %}

<!-- HERO -->
<div class="lv-hero has-auto-height">

    {% for hero in hero_images %}

        <!-- Hero Item -->
        <div class="lv-hero-item" style="background-image: url('{{ hero.image | prepend: site.assets }}')" data-background-image="{{ hero.image | prepend: site.assets }}">

            <div class="container">
                <h2 class="hero-heading-serif m-b-md">North shore lawyers specialising in...</h2>

                <ul class="title-btns block-grid-xs-1 block-grid-md-2">
                    {% for item in site.data.practices %}
                        <li>
                            {% include components/btn_tile.html title=item.title %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    {% endfor %}

</div> <!-- .lv-hero -->