<div class="logged-in-bar FixedTop">
    <div class="container">

		<p>
			<i class="fa fa-user"></i>
			<span class="text">You are currently logged in:
				<!-- TRUNCATE: 25 chars max -->
				<strong class="text-name">{{ "John Smith" | truncate: 25 }}</strong>
			</span>
		</p>

		<div class="pull-right">
		    <a class="btn btn-members-area hidden-sm-down m-r" href="/members/">Go to Members Area &nbsp;<i class="fa fa-angle-right"></i></a>
		    <a class="btn btn-log-out" href="#">Log Out &nbsp;<i class="fa fa-close"></i></a>
		</div>

    </div>
</div>