<div class="card card-contact">
	<div class="card-block">
		<h6 class="font-family-serif">Get in touch now to reserver your place...</h6>
		<div class="card-contactX">
			<hr class="fill-x-parent">
			<ul class="list-unstyled">
				<li><i class="fa fa-phone"></i><a class="h5" href="tel:0294401202">02 9440 1202</a></li>
				<li><i class="fa fa-envelope"></i><a class="h5" href="mailto:davidg@foxstaniland.com.au">davidg@foxstaniland.com.au</a></li>
			</ul>
			<hr class="fill-x-parent">
			<p>...and let us know which seminar you'd like to attend and how many people will be attending with you.</p>
		</div>
	</div>
</div>

