<div class="card card-contact">
	<div class="card-head">
		<img width="100%" class="card-img-top" src="/img/ui/no-face.png" alt="...">
	</div>
	<div class="card-block">
		<ul class="list-unstyled">
			<li><i class="fa fa-phone"></i><a href="#">02 9440 1202</a></li>
			<li><i class="fa fa-envelope"></i><a href="#">davidg@foxstaniland.com.au</a></li>
			<li><i class="fa fa-linkedin"></i><a href="#">LinkedIn profile</a></li>
			<li><i class="fa fa-comment"></i><a href="#">David's blog posts</a></li>
		</ul>
	</div>
</div>