<a class="card-anchor" href="/events/events-item/">
	<div class="card card-slim">
		<div class="media">
			<div class="media-left" href="{{ item.url }}">
				<img class="media-object" src="http://placehold.it/154x100" alt="{{ item.title }}">
			</div>
			<div class="media-body">
				<date class="text-uppercase">{{ item.date }}</date>
				<h3 class="media-heading card-title">{{ item.title }}</h3>
				<span class="btn btn-primary"><i class="fa fa-angle-right"></i></span>
			</div>
		</div>
	</div>
</a>