<a class="card-anchor" href="{{ item.url }}">
	<div class="card card-bio">
		<div class="card-block" data-match-height>
			<div class="row">
				<div class="col-md-4">
					<img width="100%" class="m-b" src="/img/ui/no-face.png" alt="{{ item.title }}">
				</div>
				<div class="col-md-8">
					<h3 class="media-heading card-title">Name Goes Here</h3>
					<h4 class="text-muted m-b">Position</h4>
					<p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
				</div>
			</div>
		</div>
	</div>
</a>