<div class="card color-card card-inverse card-senary">
	<div class="card-block clearfix">
		<h3 class="card-title"><i class="fa fa-users"></i>&nbsp; Member log in</h3>

		<form>
			<div class="row">
				<div class="col-xs-6 p-r-0" style="width: 43%;">
					<input type="text" class="form-control" placeholder="User ID">
				</div>
				<div class="col-xs-6" style="width: 57%;">
					<div class="input-group">
						<input type="password" class="form-control" placeholder="Password">
						<span class="input-group-btn">
							<button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i></button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>