<!-- FIND A CLUB -->
<div class="card color-card card-inverse card-quaternary">
	<div class="card-block clearfix">
		<h3 class="card-title"><i class="fa fa-search"></i>&nbsp; Find a club</h3>

		<form>
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Suburb, postcode or club name">
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i></button>
				</span>
			</div>
		</form>

	</div>
</div>

<!--  ONLINE PAYMENTS -->
<div class="card color-card card-inverse card-tertiary">
	<div class="card-block clearfix">
		<h3 class="card-title"><i class="fa fa-credit-card"></i>&nbsp; Online Payments</h3>
		<p class="card-text"><span class="text">You can make payments to Clubs SA using our online payment system.&nbsp;</span> <a href="#" class="btn btn-primary pull-right"><i class="fa fa-angle-right"></i></a></p>

	</div>
</div>

<!-- MEMBER LOGIN -->
{% include components/card_color_member_login.html %}