<!-- Inline style for extremely unique case -->
<h4 class="header-icon"><i style="font-size: 2.5rem; padding-right: 5px;" class="fa fa-comments-o"></i><span class="text align-top">Get in touch today to discuss your legal matter</span></h4>

<div class="card-contact">
	<hr>
	<ul class="list-unstyled">
		<li><i class="fa fa-phone"></i><a class="h5" href="tel:0294401202">02 9440 1202</a></li>
		<li><i class="fa fa-envelope"></i><a class="h5" href="mailto:davidg@foxstaniland.com.au">davidg@foxstaniland.com.au</a></li>
	</ul>
	<hr>
</div>

<h4>Request a Callback</h4>

<p>Fill out this form &amp; one of our team will phone you back...</p>

<form data-toggle="validator" class="callback-form">
	<div class="row">
		<!-- NAME -->
		<div class="col-md-6 col-lg-12">
			<fieldset class="form-group">
				<input class="form-control" id="name" type="text" placeholder="Name" required>
				<small class="error">Your name is required.</small>
			</fieldset>
		</div>
		<!-- PHONE -->
		<div class="col-md-6 col-lg-12 p-l-0-md-only">
			<fieldset class="form-group">
				<div class="input-group">
					<input type="text" class="form-control" placeholder="Phone" required>
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary"><i class="fa fa-angle-right"></i></button>
					</span>
				</div>
				<small class="error">Your phone is required.</small>
			</fieldset>
		</div>
	</div>
</form>