<form data-toggle="validator">

	<!-- NAME -->
	<fieldset class="form-group">
		<!-- <label for="name"></label> -->
		<input class="form-control" id="name" type="text" placeholder="Name" required>
		<small class="error">Your name is required.</small>
	</fieldset>

	<!-- PHONE -->
	<fieldset class="form-group">
		<!-- <label for="email"></label> -->
		<input class="form-control" id="phone" type="phone" placeholder="Phone" required>
		<small class="error">A valid phone is required.</small>
	</fieldset>

	<!-- EMAIL -->
	<fieldset class="form-group">
		<!-- <label for="email"></label> -->
		<input class="form-control" id="email" type="email" placeholder="Email" required>
		<small class="error">A valid email is required.</small>
	</fieldset>

	<!-- TEXT AREA -->
	<fieldset class="form-group">
		<!-- <label for="message"> -->
		<textarea class="form-control" id="message" rows="3" placeholder="Message" required></textarea>
		<small class="error">A message is required.</small>
	</fieldset>

	<!-- SUBMIT -->
	<div class="text-right">
		<button type="submit" class="btn btn-primary btn-text">Send <i class="fa fa-angle-right"></i></button>
	</div>

</form>