<a href="/blog/blog-item/">
	<div class="media media-entry">
		<div class="media-left hidden-sm-down p-r-md">
			<img class="media-object" width="160" src="/img/ui/placeholder.png" alt="Thumbnail">
		</div>
		<div class="media-body">
			<h3 class="media-heading card-title h4">{{ item.title }}</h3>
			<date>{{ item.date | date: "%d %B %Y" | upcase }}</date>
			<div class="clearfix"></div>
			<!-- TRUNCATE (160 max chars) -->
			<p class="m-b-0">{{ item.body | truncate: 160 }}
			<span class="anchor">Read more <i class="fa fa-angle-right"></i></span></p>
		</div>
	</div>
</a>