<section class="partners-section">
	<div class="container">

		<h2>Partners</h2>

		<div class="row">
			<div class="col-md-4">
				<ul class="block-grid-xs-2 partners-set-1">
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="block-grid-xs-3 partners-set-2">
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
				</ul>
			</div>
			<div class="col-md-4">
				<ul class="block-grid-xs-3 partners-set-3">
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
					<li><a href="#" target="_blank"><img width="100%" src="http://placehold.it/130x104" alt="..."></a></li>
				</ul>
			</div>
		</div>
	</div>
</section>