<ul class="block-list has-reduced-height seminar-list {{ include.class }}">
	{% for i in (1..4) %}
		<li>
			<date>29 OCTOBER 2015</date>

			<div class="row">
				<div class="col-md-6">
					<h5 class="seminar-list-heading"><a href="#">Family Law Seminar</a></h5>
				</div>
				<div class="col-md-6">
					<span class="seminar-list-time"><i class="fa fa-clock-o"></i> 6.45-7.45pm</span><br class="hidden-xl-up hidden-md-down">
					<span class="seminar-list-location"><i class="fa fa-map-marker"></i> Hornsby</span>
				</div>
			</div>
		</li>
	{% endfor %}
</ul>