/*
    CONTACT.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.contact-page {
	p {
		font-size: rem-calc(18);
		font-family: $font-family-serif;
		margin-bottom: rem-calc(25);
	}

	i {
		font-size: rem-calc(24);
	}

	.fa-comments-o {
		font-size: rem-calc(45);
		padding-right: 10px;
	}

	a {
		color: #4e4e4e;

		&:hover {
			@include media-breakpoint-up(xl) {
			    color: $brand-secondary;
			}
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
