/*
    HOMEPAGE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------



//-----------------------------------------------------------------
// Split Section
//-----------------------------------------------------------------

.split-sectionX {

	[class*="col"]:nth-child(2) {
		// position: relative;
	}

	&:after {
		@include media-breakpoint-up(lg) {
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 50%;
			z-index: -1;
			background: $brand-primary;
		}
	}
}

.bg-fill {
	@include media-breakpoint-down(sm) {
	    position: absolute;
	    top: 0;
	    left: -50%;
	    right: 100%;
	    bottom: -200%;
	    width: 200%;
	    height: 100%;
	    z-index: -1;
	    background: $brand-primary;
	}
}