/*
    HOMEPAGE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Split Section
//-----------------------------------------------------------------

.bg-fill-homepage:after {
	@include media-breakpoint-down(sm) {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		right: 0;
		bottom: 0;
		width: 99999%;
		height: 100%;
		z-index: -1;
		background: darken($brand-secondary, 3%);
	}
}

.homepage-content-footer {
	position: relative;
	z-index: 1;
}