/*
    HOMEPAGE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Split Section
//-----------------------------------------------------------------

// .split-sectionX {

// 	[class*="col"]:nth-child(2) {
// 		position: relative;
// 	}

.bg-fill-homepage {
	position: relative;

	.section {
		z-index: 2;
	}

	&:before {
		@include media-breakpoint-down(sm) {
			content: "";
			position: absolute;
			top: 0;
			left: -100%;
			bottom: 0;
			width: 99999%;
			height: 100%;
			// z-index: -1;
			background: red; //$brand-primary;
		}
	}
}