/*
    OUR-PEOPLE.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.our-people-section-colors {
	section:nth-child(1) { background: white; }
	section:nth-child(2) { background: $gray-light; }
	section:nth-child(3) { background: $brand-secondary; h2 { color: white; } }
	section:nth-child(4) { background: $brand-primary; h2 { color: white; } }
	section:nth-child(5) { background: white }
	section:nth-child(6) { background: $gray-light; }

	section:nth-child(7) { background: white; }
	section:nth-child(8) { background: $gray-light; }
	section:nth-child(9) { background: $brand-secondary; h2 { color: white; } }
	section:nth-child(10) { background: $brand-primary; h2 { color: white; } }
	section:nth-child(11) { background: white }
	section:nth-child(12) { background: $gray-light; }

	section:nth-child(13) { background: white; }
	section:nth-child(14) { background: $gray-light; }
	section:nth-child(15) { background: $brand-secondary; h2 { color: white; } }
	section:nth-child(16) { background: $brand-primary; h2 { color: white; } }
	section:nth-child(17) { background: white }
	section:nth-child(18) { background: $gray-light; }


}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
