/*
    HEADER.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$header-height-sm: 100px !default;
$header-height-md: 130px !default;
$header-height-lg: 180px !default;

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $header-height-sm;
	background-color: rgba(white, 0.9);
	font-family: $font-family-sans-serif;
	font-weight: 600;
	z-index: 1000;

	@include media-breakpoint-down(lg) {
	    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
	    border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); // iphone 6, stupid
	}

	@include media-breakpoint-up(md) {
	    height: $header-height-md;
	}

	@include media-breakpoint-up(xl) {
		height: $header-height-lg;
		// box-shadow: none;
		background: white;
	}
}

//-----------------------------------------------------------------
// Header Compact
//-----------------------------------------------------------------

.global-header.is-compact {
	box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.2);
	border-bottom: 0.5px solid rgba(0, 0, 0, 0.2); // iphone 6, stupid

	@include media-breakpoint-up(xl) {
		height: rem-calc(120);

		.global-navigation {
			top: rem-calc(-38);
		}
	    .search-top {
	    	opacity: 0;
	    }
	    .logo {
	    	top: rem-calc(20);
		}
		.logo img {
			width: rem-calc(160);
		}
	}
}

// .scrolling-up .global-header {
// 	position: fixed;
// 	height: rem-calc(120);

// 	@include media-breakpoint-up(xl) {
// 		.global-navigation {
// 			top: rem-calc(-38);
// 		}
// 	    .search-top {
// 	    	opacity: 0;
// 	    }
// 	    .logo {
// 	    	top: rem-calc(20);
// 		}
// 		.logo img {
// 			width: rem-calc(160);
// 		}
// 	}
// }

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.global-header .logo {
	position: relative;
	top: 14px;

	@include media-breakpoint-up(md) {
	    top: 20px;
	}

	@include media-breakpoint-up(lg) {
	    top: 20px;
	}

	@include media-breakpoint-up(xl) {
	    top: 85px;
	}

	img {
		width: 140px;

		@include media-breakpoint-up(md) {
		    width: 190px;
		}

		@include media-breakpoint-up(xl) {
		    width: 221px;
		}
	}
}

//-----------------------------------------------------------------
// Hamburger
//-----------------------------------------------------------------

.global-mobile-menu {
	position: absolute;
	right: 15px;
	top: 50%;
	display: block;
	overflow: hidden;
	// background: red;

	.hamburger {
		display: block;
		font-size: rem-calc(35);
		line-height: 0;
		color: #383D43;
		cursor: pointer;
	}
}

//=========================================
//
//=========================================