/*
    HEADER-ICONS.CSS

    - Last updated: 16.01.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Circular Round Buttons
//
// They live in the global nav and off canvas menu
// but appear in the header on desktop
//-----------------------------------------------------------------

.search-top {
	@include media-breakpoint-up(lg) {
	    position: absolute;
	    top: rem-calc(15);
	    left: 0;
	    width: 100%;

	    .phone-wrapper,
	    .search-wrapper {
	    	position: absolute;
	    }

	    .phone-wrapper {
	    	right: rem-calc(15);

	    	a {
	    		color: #515151;
	    		font-size: rem-calc(16);
	    		// font-weight: normal;
	    	}
	    }

	    .search-wrapper {
	    	left: rem-calc(15);
	    	width: 50%;
	    }
	}
}

//-----------------------------------------------------------------
// Offcanvas Hit
//-----------------------------------------------------------------

.search-top a {
	font-size: rem-calc(18);
}

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------

.search-top .fa {
	margin-right: 8px;
	margin-bottom: 15px;
    width: 26px;
    height: 26px;
    font-size: rem-calc(16);
    line-height: 26px;
    text-align: center;
    border-radius: 100%;
    background: #CFCFCF;
    float: left;
}

.off-canvas-menu .search-top .fa {
	background: darken($brand-secondary, 6%);
}

//-----------------------------------------------------------------
// Part of new Change Request 10.02.16
//-----------------------------------------------------------------

.phone-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 36px;
  	line-height: 34px;
    background: #F3F3F3;
    font-weight: bold;
    z-index: 999999;

    a {
    	color: $body-color !important;
    	font-size: rem-calc(16);
    }

    .fa {
    	position: relative;
    	top: 8px;
    	width: 20px;
    	height: 20px;
    	line-height: 20px;
    	color: white;
    }

    .phone-wrapper {
    	position: absolute;
    	right: rem-calc(15);

    	@include media-breakpoint-down(sm) {
    	    right: rem-calc(20);
    	}
    }
}

//=========================================
//
//=========================================