/*
    SIDEBAR.CSS

    - Last updated: 20.01.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Sidebar
//-----------------------------------------------------------------

// Dangerous??
.stage {
	overflow: hidden;
}

.sidebar:after {
	content: "";
	position: absolute;
	top: rem-calc(-70);
	left: 0;
	right: 0;
	bottom: 0;
	width: 300%;
	height: 9999999px;
	background: $brand-primary;
	z-index: -1;

	@include media-breakpoint-down(md) {
	    top: rem-calc(-25);
	    left: -50%;
	    right: 0;
	    // bottom: 50%;
	    // width: 200%;
	    height: 200%;
	}
}

//-----------------------------------------------------------------
// Inverse
//-----------------------------------------------------------------

.inverse {
	h1, h2, h3, h4, h5, h6,
	 h1 > a,
	 h2 > a,
	 h3 > a,
	 h4 > a,
	 h5 > a,
	 h6 > a,
	 p {
	 	color: white;
	 }

	 hr {
	 	border-color: #3B90A0; //#258395;
	 }

	 ul li a {
	 	color: white;
	 }

	 a:not(.btn):hover {
 		@include media-breakpoint-up(xl) {
 		    color: lighten($brand-secondary, 10%);
 		}
 	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.sidebar .list-unstyled {

	font-size: rem-calc(16);
	font-weight: 600;

	li {
		margin-bottom: rem-calc(5);
	}

	a {
		// font-family: $font-family-sans-serif;
	}
}

//=========================================
//
//=========================================