/*
    STAGE.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.stage {

	> .container {
		padding-top: rem-calc(50);

		@include media-breakpoint-up(md) {
		    padding-top: rem-calc(65);
		}
	}

	//=========================================
	// Sidebar
	//=========================================

	.sidebar,
	> .container > .row > [class*="col"]:first-child {
		margin-bottom: rem-calc(80);
	}

	.sidebar {
		@include media-breakpoint-down(md) {
		    padding-top: rem-calc(40);
		}
	}

	//=========================================
	//
	//=========================================

	@include media-breakpoint-down(sm) {
	    width: 100%; // savior
	    overflow: hidden; // IMPORTANT: stop scrollbars on mobile
	}
}

//=========================================
//
//=========================================