/*
    STAGE.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.stage {
	padding: rem-calc(25 0);

	@include media-breakpoint-down(sm) {
	    width: 100%; // savior
	    overflow: hidden; // IMPORTANT: stop scrollbars on mobile
	}

	@include media-breakpoint-up(md) {
	    padding: rem-calc(70 0);
	}
}

//=========================================
//
//=========================================