/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$lv-nav-height: 44px;

$header-height-sm: 100px;
$header-height-md: 160px;
$header-height-lg: 220px;

//=========================================
//
//=========================================