/*
    VARIABLES.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Global Variables
//-----------------------------------------------------------------

$lv-nav-height: 44px;
$phone-bar-height: 36px;
$header-height-sm: 100px;
$header-height-md: 130px;
$header-height-lg: 220px;

//=========================================
//
//=========================================