---
layout: master
---

{% assign settings = site.data.settings %}
{% assign articles = site.data.articles %}

<!-- HERO -->
{% include hero.html %}

<!-- STAGE -->
<section class="stage">

	<!-- SPLIT SECTION -->
	<section class="split-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 pad-right-lg">

					<!-- RECENT BLOGS -->
					<div class="section p-b-0">
						<h2 class="underline m-b-0"><i class="fa fa-newspaper-o"></i>&nbsp; Recent Blogs</h2>
						<ul class="block-list">
							{% for item in site.data.articles limit: 3 %}
								<li>
									{% include components/media_entry.html %}
								</li>
							{% endfor %}
						</ul>
						<div class="spacer m-b-lg hidden-sm-down"></div>
						<p class="text-right"><a href="/blog/" class="btn btn-primary btn-text">Read more blogs <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
				<div class="col-lg-6 pad-left-lg">
					<aside class="sidebar section inverse p-b-0">

						<!-- FREE SEMINARS -->
						<h2 class="underline"><i class="fa fa-comments-o"></i>&nbsp; Free Seminars</h2>
						<p>Fox &amp; Staniland Lawyers present free seminars in various locations on the North Shore of Sydney. Each seminar runs for approximately one hour and covers a range of issues. Call us now to reserve your place on (02) 94401202 or email us at lawyers@foxstaniland.com.au to let us know which seminar you'd like to attend and how many people will be attending with you, so we can reserve a place for you. We look forward to seeing you there!</p>
						<br>
						{% include components/seminar_listing.html %}
						<div class="spacer m-b-lg hidden-sm-down"></div>
						<p class="text-right"><a href="/free-seminars/" class="btn btn-primary btn-text">Read more about our free seminars <i class="fa fa-angle-right"></i></a></p>
					</aside>
				</div>
			</div>
		</div>
	</section>

	<!-- OUR PEOPLE / OUR FIRM -->
	<section class="section p-y-0 brand-secondary">
		<div class="container">
			<div class="row">
				<div class="col-md-6 pad-right-md">
					<div class="section">
						<h2><i class="fa fa-users"></i>&nbsp; Our People</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p class="text-right"><a href="#" class="btn btn-primary btn-text">Meet our team <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
				<div class="col-md-6 pad-left-md bg-fill-homepage">
					<div class="section">
						<h2><i class="fa fa-align-left"></i>&nbsp; Our Firm</h2>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<p class="text-right"><a href="#" class="btn btn-primary btn-text">Read more <i class="fa fa-angle-right"></i></a></p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>