---
layout: master
---

{% assign hero = page.hero %}

{% capture subtitle %}
    {% if page.subtitle %}
        <small>{{ page.subtitle }}</small>
    {% endif %}
{% endcapture %}

<!-- HERO -->
<div class="lv-hero has-fixed-height">
    <!-- HERO ITEM -->
    <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero.image | prepend: site.assets }}">

        <!-- STAGE HEADER -->
        <header class="stage-header">
        	<div class="container">
        		{% if page.title_override %}
        			<h2 class="h1">{{ page.title_override }} {{ subtitle }}</h2>
        		{% else %}
        			<h1>{{ page.title }} {{ subtitle }}</h1>
        		{% endif %}
        	</div>

            {% if page.breadcrumbs %}
                <!-- BREADCRUMBS -->
                <nav class="breadcrumbs">
                    <div class="container">
                        {% include snippets/breadcrumb.html %}
                    </div>
                </nav>
            {% endif %}
            {% if page.back_breadcrumb %}
                <!-- BACK BUTTON -->
                <nav class="breadcrumbs">
                    <div class="container">
                        <a href="{{ page.back_breadcrumb }}"><i class="fa fa-angle-left"></i> Back to {{ page.title_override }}</a>
                    </div>
                </nav>
            {% endif %}

        </header>

    </div>
</div> <!-- .lv-hero -->

<!-- STAGE -->
<section class="stage">
    {{ content }}
</section>