---
layout: master
---

{% assign hero = page.hero %}

<!-- HERO -->
<div class="lv-hero hero-advanced hero-advanced-seo has-auto-height">
    <!-- HERO ITEM -->
    <div class="lv-hero-item" style="background-image: url('{{ hero | prepend: site.assets }}')" data-background-image="{{ hero.image | prepend: site.assets }}">
		<div class="container">
			<div class="special-hero-page">
				<div class="container">

					<h1>{{ page.title }}</h1>
					<h2 class="brand-primary">13 Estate Planning Strategies You Must Consider!</h2>
					<br>
					<p><strong>Here are 13 estate planning strategies you must consider:</strong></p>
					<br>

					<div class="row">
						<div class="col-md-6">
							<ol>
								<li><strong>Simple Will</strong> - is economical if it suits your circumstances. <a href="/wills-estate-planning/simple-wills/" target="_top" title="A Simple Will">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="2">
								<li><strong>A Will Incorporating a Right of Residence or Life Estate</strong> - can be your answer if you have a blended family. <a href="/wills-estate-planning/a-will-incorporating-a-right-of-residence-or-life-estate/" target="_top" title="Incorporating a Right of Residence or Life Estate">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="3">
								<li><strong>A Testamentary Trust Will</strong> - can give your family and lineal descendants great tax effectiveness and asset protection and allow you to avoid passing control to any bad money managers among them. <a href="/wills-estate-planning/a-testamentary-trust-will/" target="_top" title="Testamentary Trust Will">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="4">
								<li><strong>A Statutory Will</strong> - can allow&nbsp;people with an&nbsp;intellectual disability to have an appropriate will. <a href="/wills-estate-planning/a-statutory-will/" target="_top" title="Statutory Will">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="5">
								<li><strong>A Special Disability Trust</strong> - allows you to provide for care and accommodation for beneficiaries with a disability&nbsp;tax effectively, while preserving their entitlement to benefits. <a href="/wills-estate-planning/a-special-disability-trust/" target="_top" title="Special Disability Trust">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="6">
								<li><strong>A Private Family Company </strong>- can solve your business succession problems. <a href="/wills-estate-planning/a-private-family-company/" target="_top" title="Private Family Company">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="7">
								<li><strong>Family Discretionary Trust</strong> - can give you the tax effectiveness, asset protection and succession planning you need. <a href="/wills-estate-planning/a-family-discretionary-trust/" target="_top" title="Family Discretionary Trust">[Read more]&nbsp;</a></li>
							</ol>
						</div>
						<div class="col-md-6">
							<ol start="8">
								<li><strong>A Self-managed Superannuation Fund with Death Benefit Nominations</strong> - allows tax effective saving for your retirement and a tool for estate planning. <a href="/wills-estate-planning/a-self-managed-super-fund-and-death-benefit-nominations/" target="_top" title="Self-managed Superannuation Fund with Death Benefit Nominations">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="9">
							<li><strong>Severing a Joint Tenancy</strong> - can give you more flexibility when it comes to passing on your co-owned real estate assets and prevent your property interests going to the wrong people. <a href="/wills-estate-planning/severance-of-a-joint-tenancy/" target="_top" title="Severing a Joint Tenancy">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="10">
							<li><strong>A Power of Attorney</strong> - is a way to pass control of your financial affairs to the right people if you need to during your lifetime. <a href="/wills-estate-planning/power-of-attorney/" target="_top" title="A Power of Attorney">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="11">
								<li><strong>An Appointment of Enduring Guardians</strong> - is the way to pass control of your health care and lifestyle decisions to the right people if you need to during your lifetime. <a href="/wills-estate-planning/enduring-guardianship/" target="_top" title="Appointment of Enduring Guardians">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="12">
								<li><strong>A Living Will or Advance Care Directive</strong> - lets your family and healthcare professionals know your end-of-life wishes. <a href="/wills-estate-planning/living-will-or-advance-care-directive/" target="_top" title="Living Will or Advance Care Directive">[Read more]&nbsp;</a></li>
							</ol>
							<ol start="13">
								<li><strong>A Life Insurance Policy</strong> - can clear your home loan and other debts so that your spouse and children can survive financially in the event of your death or total and permanent disablement. <a href="/wills-estate-planning/life-insurance-policy/" target="_top" title="Life Insurance Policy">[Read more]&nbsp;</a><br><br></li>
								<li><strong>Mutual Wills</strong> - are wills made by spouses or partners at the same time, together with a contract to which they are both parties <a href="/wills-estate-planning/mutual-wills/" target="_top" title="Mutual Wills">[Read More]<br><br></a></li>
								<li><strong>Giving away inheritance while you are still alive -</strong> Sometimes (but very rarely) it may be appropriate that you pass your assets (or some of them) to your children while you are still alive. <a href="/wills-estate-planning/giving-away-inheritance-while-you-are-still-alive/" target="_top" title="Giving early Inheritance while you are alive">[Read More]</a></li>
							</ol>
						</div>
					</div>

				</div> <!-- /.container -->
			</div> <!-- /.special-hero-page -->
		</div> <!-- /.container -->
    </div> <!-- /.lv-hero-item -->
</div> <!-- /.lv-hero -->

<!-- STAGE -->
<section class="stage">
    {{ content }}
</section>