/*
    BREADCRUMBS.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs {
	margin: rem-calc(15 0 -50 0);
	font-size: rem-calc(12);

	@include media-breakpoint-up(md) {
	    margin: rem-calc(15 0 -56 0);
	}
}

//=========================================
//
//=========================================