/*
    BREADCRUMBS.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Breadcrumbs
//-----------------------------------------------------------------

.breadcrumbs {
	position: absolute;
	top: 10px;
	left: 0;
	width: 100%;
	// margin: rem-calc(15 0 -50 0);
	font-size: rem-calc(13);

	a:hover {
		color: white !important;
	}

	li:before {
		font-family: "FontAwesome";
	}

	*,
	*:before {
		color: #9fe7ef !important;
	}

	// @include media-breakpoint-up(md) {
	//     // margin: rem-calc(15 0 -56 0);
	// }
}

//=========================================
//
//=========================================