/*
    BUTTONS.CSS

    - Last updated: 22.10.2015
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Buttons
//-----------------------------------------------------------------

.btn-primary {
	// padding: rem-calc(3 10 3 13); // precise alignment
	min-width: rem-calc(54);

	.fa {
		@include transition();
		font-size: rem-calc(24);
		color: rgba(white, 0.5);
	}

	&:hover i {
		@include media-breakpoint-up(xl) {
		    color: white;
		}
	}
}

//=========================================
// Text Buttons
//=========================================

.btn-text {
	padding: rem-calc(10 20);
	min-width: rem-calc(100);

	.fa {
		position: relative;
		top: 4px;
		right: -5px;
		line-height: 0;
	}

	.fa-angle-left {
		right: 5px;
	}
}

//-----------------------------------------------------------------
// TILE BUTTON
//-----------------------------------------------------------------

.btn-tile,
.btn-tile-reduced {
	position: relative;
	display: block;
	height: rem-calc(80);
	padding: rem-calc(0 15);
	background: rgba(black, 0.7);
	font-family: $font-family-sans-serif;
	color: white;

	@include media-breakpoint-up(md) {
	    padding: rem-calc(0 30);
	    height: rem-calc(119);
	}

	&:hover i {
		@include media-breakpoint-up(xl) {
		    opacity: 1;
		    color: white;
		}
	}

	.text {
		position: absolute;
		bottom: rem-calc(20);
		margin-bottom: 0;
		padding-right: rem-calc(44);
		font-weight: bold;
		color: white;

		@include media-breakpoint-down(sm) {
			font-size: rem-calc(17);
		}
	}

	i {
		position: absolute;
		bottom: 10px;
		right: 20px;
		font-size: rem-calc(25);
		opacity: 0.3;

		@include media-breakpoint-up(md) {
			bottom: 20px;
		    font-size: rem-calc(40);
		}
	}
}

//-----------------------------------------------------------------
// TILE BUTTON (REDUCED) - Used in person pages
//-----------------------------------------------------------------

.btn-tile-reduced {
	// height: rem-calc(80);
	// padding: rem-calc(0 15);
	// background: rgba(black, 0.7);

	.text {
		@include media-breakpoint-up(md) {
		    bottom: rem-calc(27);
		}
	}

	i {
		bottom: 23px;
		font-size: rem-calc(34);
	}

	@include media-breakpoint-up(md) {
	    padding: rem-calc(0 30);
	    height: rem-calc(100);
	}
}