/*
    CARDS.CSS

    - Last updated: 30.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Card Extensions
//-----------------------------------------------------------------

.card {
    position: relative;
    overflow: hidden;
    // margin-bottom: 0;
}

//-----------------------------------------------------------------
// Cards
//-----------------------------------------------------------------

.card img {
	border-radius: 0 !important; // Bootstrap will replace this later
}

.card {
	p { // should this be card-text?
		margin-bottom: 0; // override type settings
	}

	date {
		display: inline-block;
		margin-bottom: rem-calc(10); // reboot default - not quite (16)
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.cards-list .card {
	margin-bottom: 0;
}

//-----------------------------------------------------------------
// When wrapping card in anchor
//-----------------------------------------------------------------

.card-anchor {
	display: block;
	overflow: hidden;

	p {
		color: $body-color;
	}

	.card-title {
		@include transition();
	}

	&:hover .card-block {
		@include media-breakpoint-up(xl) {
		    background: lighten($headings-color, 5%);
		}
	}

	&:hover .card-block .fa-angle-right {
		@include media-breakpoint-up(xl) {
		    color: white;
		}
	}
}

//-----------------------------------------------------------------
// Card Contact
//-----------------------------------------------------------------

.card-contact {
	border: 0;
	color: white;
	background: none;

	.card-block {
		background: #016273;
		overflow: hidden;

		li {
			margin-bottom: rem-calc(5);
		}

		@include media-breakpoint-up(md) {
		    padding: rem-calc(25 30 25 30);
		}
	}

	i {
		width: 35px;
		font-size: rem-calc(24);
	}

	a {
		// word-wrap: break-word;
		word-wrap: break-all;
		font-family: $font-family-serif;
		// font-size: rem-calc(16);
		font-weight: 600;
		color: white;

		@include media-breakpoint-down(lg) {
			font-size: rem-calc(17);
		    -ms-word-break: break-all;
		    word-break: break-all;
		    word-break: break-all;
		}
	}
}

//-----------------------------------------------------------------
// CARD CONTACT MORE
//-----------------------------------------------------------------

// On PORTRAIT ONLY - allow all of card to be coloured
.card-contact {
	@media #{$md-only} {
		background: #016273;
	}

	img {
		@media #{$md-only} {
			width: auto;
			height: rem-calc(190);
			float: left;
		}
	}
}

//-----------------------------------------------------------------
// Card Bio - used in people
//-----------------------------------------------------------------

.card-bio {
	border: 0;
	color: white;

	.card-block {
		@include transition('background');
		background: $gray-dark;
		height: rem-calc(95);
		overflow: hidden;

		h1, h2, h3, h4, h5 {
			font-family: $font-family-serif;
			color: white;
			line-height: 1.3;
			margin-bottom: 0;

			@include media-breakpoint-down(sm) {
			    font-size: rem-calc(13);
			}

			small {
				display: block;
				color: #A2A2A2;
			}
		}
	}

	i {
		position: absolute;
		bottom: rem-calc(5);
		right: rem-calc(10);
		font-size: rem-calc(30);
		color: #807E7E;
	}
}

//=========================================
//
//=========================================
