/*
    HERO.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero {
	position: relative;
	// height: 890px;

	@include media-breakpoint-down(sm) {
	    background-position: 1000px 100px;
	}
}

.lv-hero-item {
	// padding: rem-calc(210 0 120 0);
}

.lv-hero.has-fixed-height .lv-hero-item {
	background-position: bottom;
}

//-----------------------------------------------------------------
// Hero Homepage
//-----------------------------------------------------------------

.hero-homepage .lv-hero-item {
	padding: rem-calc(50 0);

	@include media-breakpoint-up(md) {
	    padding: rem-calc(100 0);
	}

	@include media-breakpoint-up(xl) {
	    padding: rem-calc(210 0 120);
	}
}

//-----------------------------------------------------------------
// Hero Full (Expertise Index)
//-----------------------------------------------------------------

.hero-full {
	.stage-header {
		position: static;
		padding-bottom: rem-calc(80);
		margin: rem-calc(120 0 130 0);
	}
}

//-----------------------------------------------------------------
// Hero Advanced (Expertise Item)
//-----------------------------------------------------------------

.hero-advanced {

	hr {
		border-color: rgba(#5EC8D5, 0.9) !important; // fix later
	}

	.card-contact {
		background: none;
	}

	.card-contact i {
		// font-size: rem-calc(28);
		width: auto;
		margin-right: rem-calc(10);
	}

	.stage-header {
		position: static;
		padding: rem-calc(30 0 30 0);
		margin: rem-calc(90 0 90 0);

		@include media-breakpoint-up(md) {
		    padding: rem-calc(70 0 70 0);
		    margin: rem-calc(275 0 90 0);
		}

		// CHEATING HERE
		.pad-left-md {
			@include media-breakpoint-up(xl) {
			    padding-left: rem-calc(130);
			}
		}

		.pad-right-md {
			@include media-breakpoint-up(lg) {
			    padding-right: rem-calc(10);
			}
		}

		//=========================================
		// List Inline - phone and email
		//=========================================

		.list-inline {
			.right {
				@include media-breakpoint-up(lg) {
				    float: right;
				}
			}
		}

		//=========================================
		// Stage Header h1
		//=========================================

		h1:not(.text) {
			padding-top: 0;
		}

		//=========================================
		// Icon
		//=========================================

		.header-icon {
			.text {
				padding: rem-calc(0 30 0 0);

				@include media-breakpoint-up(xl) {
				    padding-right: rem-calc(120);
				}
			}

			i { font-size: rem-calc(62); }
		}
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------



//=========================================
//
//=========================================