/*
    HERO.CSS

    - Last updated: 29.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Hero
//-----------------------------------------------------------------

.lv-hero {
	position: relative;
	// height: 890px;
}

.lv-hero-item {
	// padding: rem-calc(210 0 120 0);
}

.lv-hero.has-fixed-height .lv-hero-item {
	background-position: bottom;
}

//-----------------------------------------------------------------
// Hero Full (Expertise Index)
//-----------------------------------------------------------------

.hero-full {
	.stage-header {
		position: static;
		padding-bottom: rem-calc(80);
		margin: rem-calc(120 0 130 0);
	}
}

//-----------------------------------------------------------------
// Hero Advanced (Expertise Item)
//-----------------------------------------------------------------

.hero-advanced {
	.stage-header {
		position: static;
		padding: rem-calc(70 0 100 0);
		margin: rem-calc(275 0 90 0);

		.pad-left-lg {
			@include media-breakpoint-up(lg) {
			    padding-left: rem-calc(130);
			}
		}

		.pad-right-lg {
			@include media-breakpoint-up(lg) {
			    padding-right: rem-calc(10);
			}
		}

		.header-icon {
			.text {
				padding: rem-calc(0 30 0 0);

				@include media-breakpoint-up(xl) {
				    padding-right: rem-calc(120);
				}
			}
			i {
				font-size: rem-calc(62);
			}
		}

		h1 {
			padding-top: 0;
		}
	}

	hr {
		border-color: #5EC8D5 !important; // fix later
	}
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------



//=========================================
//
//=========================================