/*
    LISTS.CSS

    - Last updated: 27.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.block-list {
	list-style: none;
	padding-left: 0;

	li {
		margin-top: -1px;
		padding: rem-calc(35 0);
		border-bottom: 1px solid #E8E8E8;
		border-top: 1px solid #E8E8E8;
	}

	&.inverse li {
		border-bottom: 1px solid #258395;
		border-top: 1px solid #258395;
	}
}

// ul li {
// 	margin-bottom: rem-calc(5);
// }

.triangle-list {
	list-style: none;
	margin-left: 0;

	li {
		padding-left: rem-calc(8);
		margin-bottom: rem-calc(5);

		a:before {
			content: "\f0da";
			// content: "\f04b";
			font-family: "FontAwesome";
			position: relative;
			top: 1px;
			left: -5px;
			font-size: rem-calc(17);
			color: $primary-color;
		}
	}

	&[class*='block-grid'] li {
		padding-bottom: 0; // Let list items set their own inner padding
	}
}

//-----------------------------------------------------------------
// Slimmer block grid - rename
//-----------------------------------------------------------------

.hero-heading-serif {
	color: white;
	font-family: $font-family-serif;
	font-size: rem-calc(32);
	font-weight: normal;
	z-index: 1000;
}

.title-btns {
	margin: -(4px/2);

	@include media-breakpoint-up(md) {
	    margin: -(8px/2);
	}

	li {
		padding: (4px /2);

		@include media-breakpoint-up(md) {
		    padding: (8px /2);
		}
	}
}