/*
    MEDIA.CSS

    - Last updated: 20.01.16
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------

$gray-color: #AEADAD;

//-----------------------------------------------------------------
// Media Entry
//-----------------------------------------------------------------

.media-entry {

	//=========================================
	// Media Object (img)
	//=========================================

	.media-object {
		margin-bottom: rem-calc(10);

		@include media-breakpoint-down(lg) {
		    width: rem-calc(120);
		}
	}

	.media-object-subtitle {
		color: $gray-color;
	}

	//=========================================
	// Media Heading
	//=========================================

	.media-heading {
		color: $brand-secondary;
		margin-bottom: rem-calc(15);
		line-height: 1.3;
	}

	//=========================================
	// Media Body
	//=========================================

	.media-body {
		color: $body-color;
	}

	//=========================================
	// Media Body Content
	//=========================================

	.media-heading-subtitle,
	date {
		font-family: $font-family-sans-serif;
		display: block;
		color: $gray-color;
		font-weight: bold;
		margin-bottom: rem-calc(10);
	}

	date {
		float: left;
		margin-right: rem-calc(25);
	}

	.media-heading-subtitle {
		font-weight: normal;
	}

	.anchor {
		color: $brand-secondary;
	}
}

//-----------------------------------------------------------------
// Media Entry Minimal - used in blog entry
//-----------------------------------------------------------------

.media-entry-minimal {
	date {
		float: none;
		margin-bottom: rem-calc(5);
	}

	.media-heading {
		margin-bottom: 0;
	}
}

//-----------------------------------------------------------------
// Inverse
//-----------------------------------------------------------------

.inverse .media-entry .media-heading-subtitle,
.inverse .media-entry date {
	// color: #48bed3;
	color: #93c3cc;
}

.inverse .media-entry .media-body {
	color: #dbf7fc;
}