/*
    SECTIONS.CSS

    - Last updated: 28.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Partners
//-----------------------------------------------------------------

.section {
	// padding-bottom: rem-calc(70);
	padding: 0; //rem-calc(50 0);
	padding: rem-calc(30 0);

	@include media-breakpoint-up(md) {
	    padding: rem-calc(65 0);
	}

	&.inverse,
	&.brand-primary,
	&.brand-secondary,
	&.gray-dark {
		color: white;

		h1, h2, h3, h4, h5, h6 {
			color: white;
		}
	}

	&.brand-primary   { background: $brand-primary; }
	&.brand-secondary { background: $brand-secondary; }
	&.gray-dark       { background: $gray-dark; }
	&.gray-light      { background: $gray-light; }
}

.stage {
	position: relative;
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------
//=========================================
//
//=========================================