/*
    SIDE-NAV.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Side Nav
//-----------------------------------------------------------------

.side-nav {
	list-style: none;
	padding: 0;
	font-family: $font-family-sans-serif;
	font-weight: 600;
	font-size: rem-calc(15);

	ul,
	ul ul {
		padding: 0;
		list-style: none;
	}

	li {
		padding: 0;
		// background: #026274;
		background: #035671;
		// border-top: 1px solid #116C7D;
		border-top: 1px solid rgba(59, 144, 160, 0.3);
	}

	> li:first-child {
		border-top: 0;
	}

	li > a {
		padding: rem-calc(25 25);
	}

	li ul li a {
		padding: rem-calc(15 25);
	}

	.active {
		// background: #004D5C;
		background: darken(#035671, 5%);
	}

	a {
		display: block;

	}
}

//=========================================
//
//=========================================