/*
    TYPE.CSS

    - Last updated: 27.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Headings
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

.header-icon {
	display: table;

	i,
	.text {
		display: table-cell;
	}

	i {
		@include media-breakpoint-up(md) {
		    font-size: rem-calc(30);
		}
	}

	.text {
		padding-left: rem-calc(10);
		line-height: 1;
	}
}

.underline {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: rem-calc(10);
	margin-bottom: rem-calc(30);
}

.inverse-section .underline {
	border-bottom: 1px solid #258395;
}

//-----------------------------------------------------------------
// Stage Header - in this case, inside hero
//-----------------------------------------------------------------

.stage-header {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba($brand-secondary, 0.9);

	small {
		display: block;
		font-family: $font-family-serif;
		font-size: rem-calc(24);
	}
}

.stage-header h1,
.stage-header h2 {
	color: white;
	padding: rem-calc(70 0 10 0);
	// border-bottom: 1px solid #DEDEDE;
	// padding-bottom: rem-calc(15);
	// margin-bottom: rem-calc(40);
}

//-----------------------------------------------------------------
// Date
//-----------------------------------------------------------------

date {
	font-family: $font-family-sans-serif;
	font-weight: 600;
}

//-----------------------------------------------------------------
// Anchors
//-----------------------------------------------------------------

a,
.btn {
	@include transition();
}

// consider: http://stackoverflow.com/questions/27878304/css-darken-on-hover-with-unknown-color
// Use this instead of setting colors
// a:hover {
// 	opacity: 0.95;
// }

//-----------------------------------------------------------------
// Paragraphs
//-----------------------------------------------------------------

p, ul, ol {
	margin-bottom: rem-calc(24); // requested - should be in bootstrap
}

//=========================================
//
//=========================================