/*
    TYPE.CSS

    - Last updated: 27.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Headings
//-----------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
	line-height: 1.3;
}

//-----------------------------------------------------------------
// Hack to replace p.leads with H2s
//-----------------------------------------------------------------

.spacer {
	height: 1px;
}

//-----------------------------------------------------------------
// Headers with ICONS inside
//-----------------------------------------------------------------

.header-icon {
	display: table;
	// width: 100%;

	i,
	.text {
		display: table-cell;
	}

	i {
		// text-align: center;
		@include media-breakpoint-up(md) {
		    font-size: rem-calc(28);
		}
	}

	.text {
		padding-left: rem-calc(10);
		// line-height: 1;
	}
}

//-----------------------------------------------------------------
// Text link
//-----------------------------------------------------------------

.inverse .text-link {
	color: lighten($brand-primary, 50%);
}

//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.underline {
	border-bottom: 1px solid #E8E8E8;
	padding-bottom: rem-calc(20);
	margin-bottom: rem-calc(30);
}

.inverse .underline {
	border-color: #258395;
}

.inverse-section .underline {
	border-bottom: 1px solid #258395;
}

//-----------------------------------------------------------------
// Stage Header - in this case, inside hero
//-----------------------------------------------------------------

.stage-header {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: rgba($brand-secondary, 0.9);

	small:not(.error) {
		display: block;
		font-family: $font-family-serif;
		font-size: rem-calc(24);
	}
}

// Because button tiles are in the hero for expertise

.stage-header h1:not(.text),
.stage-header h2:not(.text) {
	color: white;
	padding: rem-calc(40 0 10 0);

	@include media-breakpoint-up(md) {
	    padding: rem-calc(70 0 10 0);
	}
}

//-----------------------------------------------------------------
// Date
//-----------------------------------------------------------------

date {
	font-family: $font-family-sans-serif;
	font-weight: 600;
}

//-----------------------------------------------------------------
// Anchors
//-----------------------------------------------------------------

a:not(.logo),
.btn {
	@include transition();
}

// consider: http://stackoverflow.com/questions/27878304/css-darken-on-hover-with-unknown-color
// Use this instead of setting colors
// a:hover {
// 	opacity: 0.95;
// }

//-----------------------------------------------------------------
// Paragraphs
//-----------------------------------------------------------------

p, ul, ol {
	margin-bottom: rem-calc(24); // requested - should be in bootstrap
}

//=========================================
//
//=========================================