@charset "utf-8";
/*
    MAIN.CSS

    - Last updated: 27.10.15
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// REM CALC
//-----------------------------------------------------------------

@import "liquidvisual/components/rem-calc";

//-----------------------------------------------------------------
// Bootstrap
//-----------------------------------------------------------------

@import "bootstrap/settings";
@import "bootstrap/bootstrap";

//-----------------------------------------------------------------
// Liquid Visual
//-----------------------------------------------------------------

@import "liquidvisual/components/alert-bar";
@import "liquidvisual/components/block-grid";
@import "liquidvisual/components/breadcrumb";
@import "liquidvisual/components/hero";
@import "liquidvisual/components/toolbox";

//-----------------------------------------------------------------
// Application Base
//-----------------------------------------------------------------

@import "app/base/variables";
@import "app/helpers/mixins";
@import "app/base/global";

//=========================================
// Components
//=========================================

@import "app/components/accordion";
@import "app/components/breadcrumbs";
@import "app/components/buttons";
@import "app/components/cards";
@import "app/components/client-bar";
@import "app/components/forms";
@import "app/components/hero";
@import "app/components/lists";
@import "app/components/media";
@import "app/components/modal";
@import "app/components/off-canvas";
@import "app/components/pagination";
@import "app/components/sections";
@import "app/components/side-nav";
@import "app/components/sticky-header";
@import "app/components/social-media";
@import "app/components/tabs";
@import "app/components/type";

//=========================================
// Layout
//=========================================

@import "app/layout/footer";
@import "app/layout/header";
@import "app/layout/header-icons";
@import "app/layout/sidebar";
@import "app/layout/stage";
@import "app/layout/topbar";
// @import "app/layout/navigation";

//=========================================
// Pages
//=========================================

@import "app/pages/contact";
@import "app/pages/homepage";
@import "app/pages/our-expertise";
@import "app/pages/our-people";

//=========================================
// Helpers
//=========================================

@import "app/helpers/fonts";
@import "app/helpers/special";
@import "app/helpers/text-editor";
@import "app/helpers/themes";

//-----------------------------------------------------------------
// Vendor
//-----------------------------------------------------------------

@import "/_bower_components/animate.css/animate.min.css";
@import "../_bower_components/font-awesome/scss/font-awesome";
// @import "../_bower_components/slick.js/slick/slick";
@import "liquidvisual/vendor/magnific-popup/main";
@import "liquidvisual/vendor/mmenu/main";
@import "liquidvisual/vendor/nprogress";