/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.brand-primary {
    color: $primary-color; // need this?
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.google-map {
	@include media-breakpoint-down(md) {
	    pointer-events: none;
	}
}

// Gah
.special-block-list {
	li:first-child {
		border-top: 0;
		padding-top: 0;
	}
}

// Used by Expertise item
.p-l-0-md-up {
	@include media-breakpoint-up(md) {
	    padding-left: 0;
	}
}

// not used anymore - keep for later
.p-l-0-md-down {
	@include media-breakpoint-down(md) {
	    padding-left: 0;
	}
}

// used by callback form
.p-l-0-md-only {
	@media #{$md-only} {
	    padding-left: 0;
	}
}

.p-l-0-md-down {
	@include media-breakpoint-down(md) {
	    padding-left: 0;
	}
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.inline {
	display: inline !important;
}

.table thead {
	background: #E9E9EA;
	color: darken($body-color, 20%);
}

.font-family-serif {
	font-family: $font-family-serif;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

//=========================================
// Used in cards
//=========================================

.fill-x-parent {
	position: relative;
	// left: rem-calc(-30);
	left: -9.5%;
	width: calc(100% + 19%)
	// width: calc(100% + 375em);
}

//-----------------------------------------------------------------
// Jono Additions - 15.01.16
//-----------------------------------------------------------------

/* modify container to be a bit wider on max-width, and to also fill the viewport horizontally on all widths below 1430px (so remove the smaller max-widths on the other break points), and change the padding for 768px wide and above, and decrease the side padding for mobile */

.container {
	max-width: 1430px;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 767px) {
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
}

//=========================================
// some specific CSS for AJAX form submission
//=========================================

 .contact-outer {
 	position: relative;
 }

 #contact-form-ajax-loading {
 	display: none;
 	z-index: 5;
 	background-color: rgba(1, 111, 130, 0.82);
 	position: absolute;
 	top: 0;
 	left: 0;
 	bottom: 0;
 	width: 100%;
 	height: 100%;
 }

 #contact-form-ajax-loading .fa {
 	color: rgba(255,255,255,0.7);
 	position: absolute;
 	font-size: 80px;
 	left: 50%;
 	top: 50%;
 	margin-left: -40px;
 	margin-top: -50px;
 }

 //=========================================
 // Form Alert
 //=========================================

.alert {
	padding: 20px; background-color: #333;
	color: #fff;
	border:none;
}

.alert-success {
	background-color: #3fd377;
}

 .alert-error {
 	background-color: #e66060;
 }

 .contact-page .contact-page-full-width {
 	width: 100% !important;
 }
  .contact-page .alert {
  	font-size: 100%;
  }

//=========================================
// Commas being added by the back-end, hide leading comma
//=========================================

.media-heading-subtitle span:first-of-type {
	display: none;
}




//-----------------------------------------------------------------
// SEO Overrides - taking hero component out of Stage header
// 31.10.16
//-----------------------------------------------------------------

.hero-advanced-seo {

	//=========================================
	// Create Overlay in Hero
	//=========================================

	&:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #e9f1f4;

		@include media-breakpoint-up(md) {
		    background: rgba($brand-primary, 0.9);
		}
	}
}

//=========================================
// Override Stage Header (concession)
//=========================================

.stage-header.special {
	padding: 0;
	margin: 0;

	@include media-breakpoint-down(sm) {
		margin: rem-calc(30 0 0 0);
	}
}

//=========================================
// White Page in Hero
//=========================================

.special-hero-page {
	position: relative;
	background: #e9f1f4;
	padding: $spacer-y 0;
	z-index: 1;

	@include media-breakpoint-up(md) {
	    padding: $spacer-y*2 0;
	    background: #f5f9f9; // lighter page
	}

	> .container {
		@include media-breakpoint-down(sm) {
		    padding: 0;
		}
	}

	ol {
		padding-left: 20px;
	}
}