/*
    SPECIAL.CSS

    - Last updated: 00.00.00
    - liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.brand-primary {
    color: $primary-color; // need this?
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.special-fill {
	content: "";
	position: absolute;
	top: -62px;
	left: -100%;
	right: 0;
	bottom: 0;
	width: 400%;
	height: calc(100% + 70px);
	background: red;
	opacity: 0.5;
	// z-index: -1;
}

//-----------------------------------------------------------------
// Special
//-----------------------------------------------------------------

.inline {
	display: inline !important;
}

.table thead {
	background: #E9E9EA;
	color: darken($body-color, 20%);
}

.font-family-serif {
	font-family: $font-family-serif;
}

.font-family-sans-serif {
	font-family: $font-family-sans-serif;
}

//=========================================
// Used in cards
//=========================================

.fill-x-parent {
	position: relative;
	// left: rem-calc(-30);
	left: -9.5%;
	width: calc(100% + 19%)
	// width: calc(100% + 375em);
}

